*{
	margin: 0;
	padding: 0;
}
.allto{
	width: 1146px;
	height: 856px;
	margin: 0 auto;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
body{
	width: 1600px;
	height: 856px;
	background-image: url(img/lz/bg5_5.png);
}
.head{
	width: 100%;
	height: 46px;
	background-color: #010102;
}
.head .wenben{
	height: 46px;
}
.wenben a{
	font: 14px "Microsoft Yahei";
	color: #fff;
	line-height: 46px;
	text-indent: 230px;
	margin-right: 38px;
	text-decoration: none;
}
.wenben input{
	width: 13px;
	height: 18px;
	border: none;
	background-image: url(img/lz/bg1_1.png);
	vertical-align: middle;
	background-color: #010102;
}
.biaot{
	height: 25px;
	border-bottom:  1px solid #1f1a2e;
	font: 18px "Microsoft Yahei";
	color: #fff;
	margin-top: 40px;
}
.body{
	height: 488px;
	margin-top: 35px;
}
.body .pic1{
	float: left;
	width: 215px;
	height: 232px;
	background-image: url(img/lz/bg5_1.png);
	margin-right: 17px;
}
.body .pic2{
	float: left;
	width: 215px;
	height: 232px;
	background-image: url(img/lz/bg5_1.png);
	margin-right: 17px;
}
.body .pic3{
	float: left;
	width: 215px;
	height: 232px;
	background-image: url(img/lz/bg5_4.png);
	margin-right: 17px;
}
.body .pic4{
	float: left;
	width: 215px;
	height: 232px;
	background-image: url(img/lz/bg5_1.png);
	margin-right: 17px;
}
.body .pic5{
	float: right;
	width: 215px;
	height: 232px;
	background-image: url(img/lz/bg5_1.png);
}
.body .pic6{
	float: left;
	width: 215px;
	height: 232px;
	background-image: url(img/lz/bg5_1.png);
	margin-right: 17px;
	margin-top: 24px;
}
.body .pic7{
	float: left;
	width: 215px;
	height: 232px;
	background-image: url(img/lz/bg5_3.png);
	margin-right: 17px;
	margin-top: 24px;
}
.body .pic8{
	float: left;
	width: 215px;
	height: 232px;
	background-image: url(img/lz/bg5_1.png);
	margin-right: 17px;
	margin-top: 24px;
}
.body .pic9{
	float: left;
	width: 215px;
	height: 232px;
	background-image: url(img/lz/bg5_2.png);
	margin-right: 17px;
	margin-top: 24px;
}
.body .pic10{
	float: right;
	width: 215px;
	height: 232px;
	background-image: url(img/lz/bg5_1.png);
	margin-top: 24px;
}
.footer{
	width: 100%;
	height: 78px;
	margin-top: 130px;
	background-color: #f4f4f4;
}
.ft_1{
	height: 78px;
}
.ft_1 a{
	font: 14px "Microsoft Yahei";
	color: #666666;
	line-height: 78px;
	margin-right: 12px;
	text-decoration: none;
}
.ft_1 span{
	font: 13px "Microsoft Yahei";
	color: #999999;
	line-height: 78px;
	margin-left: 20px;
}