*{
	margin: 0;
	padding: 0;
}
.allto{
	width: 1146px;
	height: 1630px;
	margin: 0 auto;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
body{
	width: 1600px;
	height: 1630px;
	background-image: url(img/lz/bg5_5.png);
	position: relative;
}
.head{
	width: 100%;
	height: 46px;
	background-color: #010102;
}
.head .wenben{
	height: 46px;
}
.wenben a{
	font: 14px "Microsoft Yahei";
	color: #fff;
	line-height: 46px;
	text-indent: 230px;
	margin-right: 38px;
	text-decoration: none;
}
.wenben input{
	width: 13px;
	height: 18px;
	border: none;
	background-image: url(img/lz/bg1_1.png);
	vertical-align: middle;
	background-color: #010102;
}
.biaot{
	height: 25px;
	border-bottom:  1px solid #1f1a2e;
	font: 18px "Microsoft Yahei";
	color: #fff;
	margin-top: 40px;
}
.body1{
	height: 315px;
	background-color: #f5f5f5;
	margin-top: 24px;
	position: relative;
}
.body1 img{
	position: absolute;
	top: 48px;
	left: 30px;
}
.by1_t{
	width: 540px;
	height: 260px;
	position: absolute;
	top: 32px;
	right: 40px;
}
.by1_t .p1{
	font:bold 20px "Microsoft Yahei";
	position: absolute;
	top: 15px;
	left: 10px; 
}
.by1_t .p2{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 75px;
	left: 10px; 
}
.by1_t .p3{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 100px;
	left: 10px; 
}
.by1_t .p4{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 140px;
	left: 10px; 
}
.by1_t .p5{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 158px;
	left: 10px; 
}
.by1_t .p6{
	width: 95px;
	height: 36px;
	border: 1px solid #f06e57;
	font: 16px "Microsoft Yahei";
	color: #f06e57;
	line-height: 36px;
	text-align: center;
	position: absolute;
	top: 192px;
	left: 10px;
}
.by1_t .line{
	width: 24px;
	height: 10px;
	border-bottom: 4px solid #ef3a05;
	position: absolute;
	top: 45px;
	left: 10px;
}
.body2{
	height: 315px;
	background-color: #f5f5f5;
	margin-top: 22px;
	position: relative;
}
.body2 img{
	position: absolute;
	top: 48px;
	right: 30px;
}
.by2_t{
	width: 540px;
	height: 260px;
	position: absolute;
	top: 32px;
	left: 20px;
}
.by2_t .p1{
	font:bold 20px "Microsoft Yahei";
	position: absolute;
	top: 15px;
	left: 10px; 
}
.by2_t .p2{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 75px;
	left: 10px; 
}
.by2_t .p3{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 100px;
	left: 10px; 
}
.by2_t .p4{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 140px;
	left: 10px; 
}
.by2_t .p5{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 158px;
	left: 10px; 
}
.by2_t .p6{
	width: 95px;
	height: 36px;
	border: 1px solid #f06e57;
	font: 16px "Microsoft Yahei";
	color: #f06e57;
	line-height: 36px;
	text-align: center;
	position: absolute;
	top: 192px;
	left: 10px;
}
.by2_t .line{
	width: 24px;
	height: 10px;
	border-bottom: 4px solid #ef3a05;
	position: absolute;
	top: 45px;
	left: 10px;
}
.body3{
	height: 315px;
	background-color: #f5f5f5;
	margin-top: 22px;
	position: relative;
}
.body3 img{
	position: absolute;
	top: 48px;
	left: 30px;
}
.by3_t{
	width: 540px;
	height: 260px;
	position: absolute;
	top: 32px;
	right: 40px;
}
.by3_t .p1{
	font:bold 20px "Microsoft Yahei";
	position: absolute;
	top: 15px;
	left: 10px; 
}
.by3_t .p2{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 75px;
	left: 10px; 
}
.by3_t .p3{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 100px;
	left: 10px; 
}
.by3_t .p4{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 140px;
	left: 10px; 
}
.by3_t .p5{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 158px;
	left: 10px; 
}
.by3_t .p6{
	width: 95px;
	height: 36px;
	border: 1px solid #f06e57;
	font: 16px "Microsoft Yahei";
	color: #f06e57;
	line-height: 36px;
	text-align: center;
	position: absolute;
	top: 192px;
	left: 10px;
}
.by3_t .line{
	width: 24px;
	height: 10px;
	border-bottom: 4px solid #ef3a05;
	position: absolute;
	top: 45px;
	left: 10px;
}
.body4{
	height: 315px;
	background-color: #f5f5f5;
	margin-top: 22px;
	position: relative;
}
.body4 img{
	position: absolute;
	top: 48px;
	right: 30px;
}
.by4_t{
	width: 540px;
	height: 260px;
	position: absolute;
	top: 32px;
	left: 20px;
}
.by4_t .p1{
	font:bold 20px "Microsoft Yahei";
	position: absolute;
	top: 15px;
	left: 10px; 
}
.by4_t .p2{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 75px;
	left: 10px; 
}
.by4_t .p3{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 100px;
	left: 10px; 
}
.by4_t .p4{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 140px;
	left: 10px; 
}
.by4_t .p5{
	font:12px "Microsoft Yahei";
	position: absolute;
	top: 158px;
	left: 10px; 
}
.by4_t .p6{
	width: 95px;
	height: 36px;
	border: 1px solid #f06e57;
	font: 16px "Microsoft Yahei";
	color: #f06e57;
	line-height: 36px;
	text-align: center;
	position: absolute;
	top: 192px;
	left: 10px;
}
.by4_t .line{
	width: 24px;
	height: 10px;
	border-bottom: 4px solid #ef3a05;
	position: absolute;
	top: 45px;
	left: 10px;
}
.disk{
	width: 362px;
	height: 25px;
	position: absolute;
	bottom: 95px;
	right: 227px;
}
.disk .b1{
	float: left;
	width: 24px;
	height: 25px;
	background-color: #7b2783;
	font: 12px "Microsoft Yahei";
	color: #fff;
	line-height: 25px;
	text-align: center;
	margin-right: 5px;
}
.disk .b2{
	float: left;
	width: 24px;
	height: 25px;
	background-color: #ebebeb;
	font: 12px "Microsoft Yahei";
	color: #000;
	line-height: 25px;
	text-align: center;
	margin-right:5px;
}
.disk .b2:hover{
	background-color: #7b2783;
	color: #fff;
}
.disk .b3{
	float: left;
	width: 24px;
	height: 25px;
	background-color: #ebebeb;
	font: 12px "Microsoft Yahei";
	color: #000;
	line-height: 25px;
	text-align: center;
	margin-right: 5px;
}
.disk .b3:hover{
	background-color: #7b2783;
	color: #fff;
}
.disk .b4{
	float: left;
	width: 24px;
	height: 25px;
	background-color: #ebebeb;
	font: 12px "Microsoft Yahei";
	color: #000;
	line-height: 25px;
	text-align: center;
	margin-right: 5px;
}
.disk .b4:hover{
	background-color: #7b2783;
	color: #fff;
}
.disk .b5{
	float: left;
	width: 54px;
	height: 25px;
	background-color: #ebebeb;
	font: 12px "Microsoft Yahei";
	color: #000;
	line-height: 25px;
	text-align: center;
	margin-right: 5px;
}
.disk .b5:hover{
	background-color: #7b2783;
	color: #fff;
}
.disk .b6{
	float: left;
	width: 54px;
	height: 25px;
	background-color: #ebebeb;
	font: 12px "Microsoft Yahei";
	color: #000;
	line-height: 25px;
	text-align: center;
	margin-right: 5px;
}
.disk .b6:hover{
	background-color: #7b2783;
	color: #fff;
}
.disk span{
	font: 12px "Microsoft Yahei";
	color: #fff;
	line-height: 25px;
}
.disk input{
	width: 40px;
	height: 25px;
	border: none;
	background-color: #ebebeb;
}
.disk .b7{
	float: right;
	width: 30px;
	height: 25px;
	background-color: #7b2783;
	font: 12px "Microsoft Yahei";
	color: #fff;
	line-height: 25px;
	text-align: center;
}
.footer{
	width: 100%;
	height: 78px;
	margin-top:90px;
	background-color: #f4f4f4;
}
.ft_1{
	height: 78px;
}
.ft_1 a{
	font: 14px "Microsoft Yahei";
	color: #666666;
	line-height: 78px;
	margin-right: 12px;
	text-decoration: none;
}
.ft_1 span{
	font: 13px "Microsoft Yahei";
	color: #999999;
	line-height: 78px;
	margin-left: 20px;
}